body {
    background-color:#333;
    font-family: Roboto;
    color: #eee;
    margin:auto;
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Medium.ttf);
}
button {
    background-color: #444;
    border-color: #444;
    border-radius: 10px;
    color: #eee;
    cursor: pointer;
}
button:hover {
    border-color: #eee;
}
button:active {
    background-color: #222;
}
p {
    font-size: 18px;
    line-height: 18px;
}
h2 {
    font-size: xx-large;
}
h3 {
    font-size: x-large;
    line-height: 0px;
}
.title {
    font-size: 50px;
    text-align: center;
}
.start-container {
    display: flex;
    justify-content: center;
}
.start {
    width: 20%;
    height: 10%;
    background-color: red;
    color: white;
    border-width: 5px;
    border-color: red;
    font-size: 20px;
}
.start:hover {
    border-color: white;
}
.start:active {
    background-color: rgb(100, 0, 0);
}
.credits {
    font-size: 10px;
    color: #999;
}
.block {
    word-wrap: break-word;
    width: 22%;
    vertical-align: top;
    display: inline-block;
    justify-content: left;
    margin: 1%;
    margin-top: 0px;
}
.section {
    background-color: #555;
    border-color: #555;
    border-width: 10px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.money {
    color: gold;
}
.iron {
    color: #ddd;
}
.food {
    color: #adff2f;
}
.steel {
    color:#f22;
}
.icon {
    height: 18px;
}